<div>
    <form method="post" action="{{ path('app_usuario_delete', {'idUsuario': usuario.idUsuario}) }}" onsubmit="return confirm('Estas seguro que deseas eliminar este registro?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.idUsuario) }}">
        <button type="submit" title="Ingresar" name="Ingresar" class="btn btn-danger m-2" class="btn">Delete</button>
    </form>
</div>

