{% extends 'base.html.twig' %}

{% block title %}Usuario index{% endblock %}

{% block body %}
<br>
<div class="container-fluid">
    <div class="bg-secondary rounded h-100 p-4">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Usuarios Table</h6>
            <table class="table" id="tablausuarios">
                <thead>
                    <tr>
                        <th>IdUsuario</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>

            </table>
            <a class="btn btn-primary m-2" href="{{ path('app_usuario_new') }}">Create new</a>
        </div>
    </div>
</div>

<script src="{{asset('js/scriptUsuario.js')}}"></script>

{% endblock %}